/* eslint-disable quotes */
<template>
  <div class="main">
    <b-row>
      <b-col md="4" xs="12" class="mb-3">
          <b-row class="mb-3">
            <b-form-input
              type="number"
              min="0"
              v-model="changeMoney"
              placeholder="Enter change money"
              @keyup.enter="theCalculate"
            ></b-form-input>
          </b-row>
          <b-row>
            <b-button block variant="primary" @click="theCalculate"
              >Calculate</b-button
            >
          </b-row>
      </b-col>
      <b-col md="4" xs="12" class="mb-3">เงินทอน {{ changeMoney }}</b-col>
      <b-col md="4" xs="12" class="mb-3">
        <div v-if="result">
          <b-row
            v-for="(count, cash) in result"
            :key="cash"
            align-v="center"
            class="mb-3"
          >
            <b-col md="8" xs="12">
              <!-- <span v-if="cash > 1">แบงค์</span>
              <span v-if="cash < 1">เหรียญ</span>
              <span>{{ cash }}</span> -->
              <b-img v-bind="cash100" v-if="cash == 100"></b-img>
              <b-img v-bind="cash50" v-if="cash == 50"></b-img>
              <b-img v-bind="cash20" v-if="cash == 20"></b-img>
              <b-img v-bind="cash10" v-if="cash == 10"></b-img>
              <b-img v-bind="cash5" v-if="cash == 5"></b-img>
              <b-img v-bind="cash1" v-if="cash == 1"></b-img>
              <b-img v-bind="cent50" v-if="cash == 0.5"></b-img>
              <b-img v-bind="cent25" v-if="cash == 0.25"></b-img>
              <b-img v-bind="cent10" v-if="cash == 0.1"></b-img>
              <b-img v-bind="cent5" v-if="cash == 0.05"></b-img>
              <b-img v-bind="cent1" v-if="cash == 0.01"></b-img>
            </b-col>
            <b-col md="4" xs="12">
              <span>{{ count }}</span>
              <span v-if="cash >= 1">ใบ</span>
              <span v-if="cash < 1">เหรียญ</span>
            </b-col>
          </b-row>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { dollar } from './dollar-data'
export default {
  name: 'Dollar',
  data () {
    return {
      ...dollar,
      cash: [100, 50, 20, 10, 5, 1, 0.5, 0.25, 0.1, 0.05, 0.01],
      changeMoney: '',
      result: {}
    }
  },
  methods: {
    theCalculate () {
      let cureentMoney = parseFloat(this.changeMoney)
      const cash = []
      while (cureentMoney > 0) {
        for (const c of this.cash) {
          const result = (cureentMoney - c).toFixed(2)
          if (result >= 0) {
            cash.push(c)
            cureentMoney = result
            break
          }
        }
      }
      var counts = {}
      cash.forEach(function (x) {
        counts[x] = (counts[x] || 0) + 1
      })
      this.result = counts
      console.log(counts)
    },
    doWork () {
      this.changeMoney = ''
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.align-left {
  text-align: left;
}
.main {
  padding-left: 10px;
  padding-right: 10px;
}
</style>
